{% extends 'base.html.twig' %}

{% block body %}
    <section id="SubmitterNotes">
        <h2 class="text-primary">{#staff name#} Notes for {{ individual.firstName }} {{ individual.lastName }}</h2>
        <hr/>
        <!-- Show pending and draft notes -->
        <section>
            {#{% for pat %}#}
            Nothing for now.
        </section>
    </section>
{% endblock %}